*{
  font-family: 'Raleway', sans-serif;
}

.logo{
  width: 40px;
  height: 40px;
}

.navbar{
  background: linear-gradient(90deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%);
  color: #fff;
}

.navbar.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

 .navbar-light .container .navbar-brand {
  color: #fff;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link , .nav-link a{
  color: #ffff !important;
  font-size: 18px;
  margin-left: 1rem;
  transition: all 0.4s linear;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link::after {
  content: '';
  display: block;
  margin: 0 auto;
  height: 6px;
  width: 0px;
  background: #fff;
  transition: all 0.4s linear;
}

.navbar-light .navbar-nav .nav-link:hover::after{
  text-decoration: none !important;
  width: 100%;
}

.nav-link a:hover , .navbar-light .container .navbar-brand:hover{
  text-decoration: none !important;
  color: #fff;
}

/* HERO SECTION */
.hero{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.616)), url(./assets/pexels-taryn-elliott-4099238.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_head{
  height: 80vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.616)), 
  url(./assets/pexels-polina-tankilevitch-4443476.jpg);

}

.header{
  padding-top: 180px;
  color: #fff;
}

.header h1{
  font-size: 65px;
  font-style: italic;
  font-weight: 800;
}

.header p{
  font-size: 20px;
}

.order_btn{
  background: linear-gradient(90deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%);
  color: #f7f7f7;
  font-size: 1rem;
  border-radius: 5px;
  border-width: 0;
  text-decoration: none;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 700;
}

/* ABOUT US */
.about{
  margin-top: 100px;
}

.about_article{
  margin-top: 10px;
}

.ewa_color{
  color: #d15a2e;
  font-size: 45px;
  line-height: .9;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.about_article article {
  color: #292f31;
  font-size: 17px;
  margin-top: 32px;
  line-height: 2;
  font-weight: 500;
}

.smoothie_img{
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

/* PRODUCTS */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }

  .parent img{
    width: 100%;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 2 / 5; }
  .div5 { grid-area: 2 / 1 / 3 / 2; }
  .div7 { grid-area: 2 / 3 / 3 / 5; }

/* TESTIMONIAL */
.testimonial h5{
  font-weight: 700;
  font-size: 20px;
}

.testimonial em{
  font-size: 18px;
}

/* CONTACT US PAGE */
.contact h4{
  color: #d15a2e;
  font-weight: 600;
  margin-bottom: 25px;
}

.contact p{
  font-weight: 500;
}

.contact a {
  font-size: 18px;
  color: #1d1c1c;
  font-weight: 600;
}

/* PRODUCTS */
.row.product_list{
  flex-wrap: nowrap;
}

.product_items{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  margin: 10px;
}

.product_items em{
  font-weight: 700;
}

.specials{
  padding-top: 5rem;
}

@media (max-width: 1024px) {
  .row.product_list{
    flex-wrap: wrap;
  }

  .header h1 {
    font-size: 55px;
  }

  .header {
    padding-top: 150px;
  }
}


/* FOOTER */
.footer{
  background: linear-gradient(90deg,rgb(255,105,0) 0%,rgb(207, 46, 46) 100%);
  color: rgb(245, 243, 243);
  padding: 40px 0;
}

.footer_about{
  line-height: 2;
}

.footer_timetable ul li{
  list-style: none;
  padding: 5px 0;
}

.footer_timetable h5{
  font-size: 23px;
}

.footer_timetable ul{
  margin: 0;
  padding: 0;
}